<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="84.4.1" targetFramework="net452" />
  <package id="cef.redist.x86" version="84.4.1" targetFramework="net452" />
  <package id="CefSharp.Common" version="84.4.10" targetFramework="net452" />
  <package id="CefSharp.WinForms" version="86.0.241" targetFramework="net452" />
  <package id="CommandLineParser" version="1.9.71" targetFramework="net452" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net452" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net452" />
</packages>